<body>
<app-logo></app-logo>

<div>
  <div id="questionSetHeader">{{subject}}</div>
</div>

<table>
  <td id="picture"><img src="{{image}}"></td>
  <td id="question">{{showQuestion()}}</td>
  <td id="answer">
    <mat-radio-group
      class="radio-group"
      aria-labelledby="example-radio-group-label">
      <mat-radio-button class="radio-button" *ngFor="let answer of currentOptions" [value]="answer">
        {{answer}}
      </mat-radio-button>
    </mat-radio-group>
  </td>
  <td id="empty"><label>
    <textarea placeholder="Kirjoita tähän lisätietoja"></textarea>
  </label></td>
</table>

<div id="hintDiv">
  <button id="hint" (click)="openHint()">Ohje</button>
</div>

<mat-progress-bar mode="determinate"></mat-progress-bar>

<div id="nextDiv">
  <button id="next" (click)="nextQuestion()">Seuraava</button>
</div>

<app-bottom-nav></app-bottom-nav>

</body>



