<body>
<app-logo></app-logo>

<div><p>&nbsp;</p><p>&nbsp;</p></div>

<mat-card class="matcard">
  <mat-card-header>
    <mat-card-title>{{subject}}</mat-card-title>
    <div id="picture"><img src="{{image}}" alt="question_image"></div>
  </mat-card-header>

</mat-card>

<mat-card class="matcard">
  <div id="question">{{showQuestion()}}</div>
</mat-card>

<mat-card class="matcardQuestion">
  <div id="answer">
    <mat-radio-group
      class="radio-group"
    [(ngModel)]="selectedAnswers">
      <mat-radio-button class="radio-button"
                        *ngFor="let answer of showOptions()"
                        (change)="radioChangeHandler($event, answer)"
                        [value]="answer">
        {{answer}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</mat-card>
<mat-card class="matcard">
  <div id="empty"><label>
    <textarea placeholder="Kirjoita tähän lisätietoja"></textarea>
  </label></div>
</mat-card>

<div id="hintDiv">
  <button id="hint" (click)="openHint()">Ohje</button>
</div>

<div id="nextDiv">
  <button id="next" (click)="nextQuestion()">Seuraava</button>
</div>

<app-bottom-nav></app-bottom-nav>

</body>



