
body {
  overflow: hidden;
  margin: 0 auto;
}

#questionSetHeader {
  position: absolute;
  top: 200px;
  left: 55px;
  color: #060E9F;
  font-size: 1.5vw;
}

#hintDiv {
  margin-left: 90%;
}

#hint {
  position: absolute;
  top: 0;
  right: 60px;
  margin-top: 30px;
  border: 2px solid #00A887;
  background: white;
  border-radius: 50px;
  height: 50px;
  width: 80px;
  font-size: 2vh;
  color: dimgrey;
}


#next {
  position: absolute;
  bottom: 160px;
  right: 60px;
  border: 2px solid #00A887;
  background: white;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  font-size: 2vh;
  color: #060E9F;
}


table {
  position: absolute;
  margin-top: 12.5%;
  margin-right: auto;
  margin-left: auto;
  border-spacing: 50px;
  justify-content: center;
}

td {
  position: relative;
  border: solid #00A887;
  border-radius: 25px;
  width: 400px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  white-space: pre;
}

.modal-container {
  background-color: #FFFFFF;
  border: 1px solid #00A887;
  left: 50%;
  border-radius: 25px;
  padding: 20px;
  transform: translate(-50%, 0);
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 15px;
  color: black;
}

img {
  width: 170px;
  height: 170px;
}

textarea {
  margin: 15px;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.matcard {
  max-width: 80%;
  background: transparent;
  border: none;
  outline: none;
  color: black;
}
.matcardQuestion {
  max-width: 80%;
  background: lightgray;
  border: none;
  outline: none;
  color: black;
}





