* {
}

body {
  overflow: hidden;
  margin: 0 auto;
}

p {
  position: absolute;
  top: 200px;
  left: 55px;
  color: #060E9F;
  font-size: 1.5vw;
}

#hintDiv {
  margin-left: 90%;
}

#hint {
  position: absolute;
  top: 0;
  right: 60px;
  margin-top: 30px;
  border: 2px solid #00A887;
  background: white;
  border-radius: 50px;
  height: 50px;
  width: 80px;
  font-size: 2vh;
  color: dimgrey;
}


#next {
  position: absolute;
  bottom: 160px;
  right: 60px;
  border: 2px solid #00A887;
  background: white;
  border-radius: 50px;
  height: 50px;
  width: 150px;
  font-size: 2vh;
  color: #060E9F;
}


table {
  margin-top: 12.5%;
  margin-right: auto;
  margin-left: auto;
  border-spacing: 50px;
}

td {

  border: solid #00A887;
  border-radius: 25px;
  width: 400px;
  height: 80px;
  text-align: center;
}

.modal-container {
  background-color: #FFFFFF;
  border: 1px solid #00A887;
  left: 50%;
  border-radius: 25px;
  padding: 20px;
  transform: translate(-50%, 0);
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

img {
  margin-top: 50px;
  width: 170px;
  height: 170px;
}
textarea {
  background: transparent;
  border: none;
  outline: none;
  width: 95%;
  height: 98%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}




