<app-logo></app-logo>
<div id="menuTableDiv">
  <table>
    <tr>
      <td></td>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td></td>
    </tr>
    <tr>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td colspan="3" rowspan="2"> <img src="https://kuvapankki.papunet.net/api/thumb_large/42155.jpg" id="menuMiddleImage"></td>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
    </tr>
    <tr>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
    </tr>
    <tr>
      <td></td>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td></td>
    </tr>
  </table>
</div>
<figure id="test"></figure>
<app-bottom-nav></app-bottom-nav>
