<app-logo></app-logo>
<div id="menuTableDiv">
  <table>
    <tr>
      <td></td>
      <td routerLinkActive="active" routerLink="/questions/0"><div class="container"><img src="{{subjects[0].img}}"><div class="middle"><div class="text">{{subjects[0].name}}</div></div></div></td>
      <td routerLinkActive="active" routerLink="/questions/1"><div class="container"><img src="{{subjects[1].img}}"><div class="middle"><div class="text">{{subjects[1].name}}</div></div></div></td>
      <td routerLinkActive="active" routerLink="/questions/2"><div class="container"><img src="{{subjects[2].img}}"><div class="middle"><div class="text">{{subjects[2].name}}</div></div></div></td>
      <td></td>
    </tr>
    <tr>
      <td routerLinkActive="active" routerLink="/questions/3"><div class="container"><img src="{{subjects[3].img}}"><div class="middle"><div class="text">{{subjects[3].name}}</div></div></div></td>
      <td colspan="3" rowspan="2"> <img src="assets/images/minä.png" id="menuMiddleImage"></td>
      <td routerLinkActive="active" routerLink="/questions/4"><div class="container"><img src="{{subjects[4].img}}"><div class="middle"><div class="text">{{subjects[4].name}}</div></div></div></td>
    </tr>
    <tr>
      <td routerLinkActive="active" routerLink="/questions/5"><div class="container"><img src="{{subjects[5].img}}"><div class="middle"><div class="text">{{subjects[5].name}}</div></div></div></td>
      <td routerLinkActive="active" routerLink="/questions/6"><div class="container"><img src="{{subjects[6].img}}"><div class="middle"><div class="text">{{subjects[6].name}}</div></div></div></td>
    </tr>
    <tr>
      <td></td>
      <td routerLinkActive="active" routerLink="/questions/7"><div class="container"><img src="{{subjects[7].img}}"><div class="middle"><div class="text">{{subjects[7].name}}</div></div></div></td>
      <td routerLinkActive="active" routerLink="/questions/8"><div class="container"><img src="{{subjects[8].img}}"><div class="middle"><div class="text">{{subjects[8].name}}</div></div></div></td>
      <td routerLinkActive="active" routerLink="/questions/9"><div class="container"><img src="{{subjects[9].img}}"><div class="middle"><div class="text">{{subjects[9].name}}</div></div></div></td>
      <td></td>
    </tr>
  </table>
</div>
<figure id="test"></figure>
<app-bottom-nav></app-bottom-nav>
