<app-logo></app-logo>
<div id="menuTableDiv">
  <table>
    <tr>
      <td></td>
      <td routerLink="/questions" id="worries"><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>

      <td routerLink="/questions" id="senses"><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td></td>
    </tr>
    <tr>
      <td routerLink="/questions" id="family"><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td colspan="3" rowspan="2" routerLink="/questions" id="home"> <img src="https://kuvapankki.papunet.net/api/thumb_large/42155.jpg" id="menuMiddleImage"></td>
      <td routerLink="/questions" id=""><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
    </tr>
    <tr>
      <td routerLink="/questions" id="work"><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td routerLink="/questions" id="freeTime"><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
    </tr>
    <tr>
      <td></td>
      <td routerLink="/questions" id="money"><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td routerLink="/questions" id="health"><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td routerLink="/questions" id="homeWork"><img src="https://kuvapankki.papunet.net/api/thumb_large/47241.jpg"></td>
      <td></td>
    </tr>
  </table>
</div>
<figure id="test"></figure>
<app-bottom-nav></app-bottom-nav>
