#bottomNavBox {
  width: 100%;
  height: 85px;
  background-color: #00A887;
  position:absolute;
  bottom:0;
}

#imageAttribution {
  padding-left: 15px;
}

#navItemTable {
  width: 100%;
  padding-top: 20px;
}

#backToMenu {
  pointer-events: none;
  text-align: right;
}

td {
  width: 25%;
  height: 25px;
  vertical-align: middle;
}

button {
  border: 2px solid black;
  background: #FFFFFF;
  border-radius: 50px;
  color: #060E9F;
  pointer-events: auto;
}
