#logoContainer {
  position: absolute;
  padding-top: 25px;
  padding-left: 15px;
}

h1 {
  font-family: Microsoft Sans Serif, sans-serif;
  font-size: 3vw;
  color: #060E9F;
  display: inline;
  position: relative;
}

h5 {
  font-family: Microsoft Sans Serif, sans-serif;
  color: #060E9F;
  padding-left: 65%;
  display: inline;
}
