html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:black;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:black;
  background-color:black;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:black;
}

