h1 {
  position: relative;
  font-family: Microsoft Sans Serif, sans-serif;
  font-size: 150px;
  color: #060E9F;
  padding-left: 300px;
  display: inline;
}

p {
  position: relative;
  font-family: Microsoft Sans Serif, sans-serif;
  font-size: 30px;
  color: #060E9F;
  padding-left: 900px;

}
#loginWithOutUserIdButton {
  position: relative;
  border: 2px solid #00A887;
  background: white;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
#loginWithUserIdButton {

  position: relative;
  border: 2px solid #00A887;
  background: white;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}

#loginWithOutUserId {
  position: relative;
  font-family: Microsoft Sans Serif, sans-serif;
  padding-left: 550px;
  padding-top: 5px;
}

#loginWithUserId {
  position: relative;
  font-family: Microsoft Sans Serif, sans-serif;
  padding-left: 550px;
  padding-top: 125px;
}

#greenBlock {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(0, 168, 135, 1) 75%);
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(0, 168, 135, 1) 75%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgba(0, 168, 135, 1) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#00A887", GradientType=1);
}

* {
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
}

.row {
  position: relative;
  padding-top: 150px;
  padding-right: 500px;
  margin-top: 165px;
  display: flex;
}

.column {
  position: relative;
  flex: 33.33%;
  padding: 3px;
}
