<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <div id="content">
    <h1>WOMPATTI</h1>
    <div>
      <h6>VOIMAVARANI</h6>
    </div>
    <div id="wombatLogo">
      <img src="assets/images/vompatti_logo.svg" alt="Wompatti logo" style="width:180px">
    </div>

    <div id="overviewDiv">
      <button id="overView" (click)="openProjectOverview()">Tervetuloa Wompattiin</button>
    </div>

    <div id="anonymousUserDiv" class="mat-button">
      <button (click)="anonymousUser()" id="anonymousUserButton">
        Aloita
      </button>
    </div>

    <div id="partnerLogos">
      <img src="assets/images/lab-logo.svg" alt="LAB logo" style="width:150px">
      <img src="assets/images/EKSOTE.svg" alt="EKSOTE logo" style="width:150px">
      <img src="assets/images/PKHYKY.svg" alt="PKHYKY logo" style="width:150px">
      <img src="assets/images/EU.svg" alt="EU logo" style="width:130px">
      <img src="assets/images/VIPU.svg" alt="VIPUVOIMAA_EU:LTA logo" style="width:150px">
    </div>
  </div>
</body>
