<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="greenBlock">
  <h1>WOMPATTI</h1>
  <p>VOIMAVARANI</p>


<nav>
  <div id="loginWithUserId" class="mat-button">
      <button (click)="loginAdmin()"
              id="loginWithUserIdButton"
              style="height: 50px;width: 300px">
        Kirjaudu sisään
      </button>
  </div>
  <div id="loginWithOutUserId" class="mat-button">
      <button (click)="anonymousUser()"
              id="loginWithOutUserIdButton"
              style="height: 50px;width: 300px">
        Aloita kirjautumatta
      </button>
  </div>
</nav>


  <div class="row" id="partnerLogos">
    <div class="column">
      <img src="assets/images/LAMK.png" alt="LAMK logo" style="width:250px">
    </div>
    <div class="column">
      <img src="assets/images/SAIMIA.png" alt="SAIMIA logo" style="width:250px">
    </div>
    <div class="column">
      <img src="assets/images/EKSOTE.jpg" alt="EKSOTE logo" style="width:150px">
    </div>
    <div class="column">
      <img src="assets/images/PKHYKY.jpg" alt="PKHYKY logo" style="width:150px">
    </div>
    <div class="column">
      <img src="assets/images/EU.png" alt="EU logo" style="width:150px">
    </div>
    <div class="column">
      <img src="assets/images/VIPU.png" alt="VIPUVOIMAA_EU:LTA logo" style="width:150px">
    </div>
  </div>
</div>
