<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <div>
    <h1>WOMPATTI</h1>
    <div>
      <h6>VOIMAVARANI</h6>
    </div>


    <div id="anonymousUserDiv" class="mat-button">
      <button (click)="anonymousUser()" id="anonymousUserButton">
        Aloita
      </button>
    </div>

    <div id="partnerLogos">
      <img src="assets/images/LAMK.png" alt="LAMK logo" style="width:250px">
      <img src="assets/images/SAIMIA.png" alt="SAIMIA logo" style="width:250px">
      <img src="assets/images/EKSOTE.jpg" alt="EKSOTE logo" style="width:150px">
      <img src="assets/images/PKHYKY.jpg" alt="PKHYKY logo" style="width:150px">
      <img src="assets/images/EU.png" alt="EU logo" style="width:150px">
      <img src="assets/images/VIPU.png" alt="VIPUVOIMAA_EU:LTA logo" style="width:150px">
    </div>
  </div>
</body>
